body{
	margin:0px;
	padding:0px;
	background-color: #0A0038;
}

h1{
	font-weight: normal;
	font-family: lust-script;
	color: #566161;
}

h2{
	font-family: kepler-std-extended;
	font-weight: normal;
	font-size: 15px;
	text-align:center;
}

#wrapper{
	background-color: #FAFAFA;
	width:1024px;
	margin:30px auto;
	overflow:auto;
}

#header{
	margin:30px auto;
	padding:30px auto;
	text-align: center;
}

#nav{
	clear:both;
	border-width: 1px 0px;
	border-style: solid;
	border-color: #0A0038;
	margin:0px 15px;
}

.column{
	width:168.8px;
	margin:0px 15px;
	float:left;
}

