body{
	margin:0px;
	padding:0px;
	background-color: #FFF190;
}
#wrapper{
	background-color: #F5F5F5;
	width:1024px;
	margin: 24px auto;
	overflow: auto;
	box-shadow: 0px 0px 10px #777777;

}
.header{
	margin: 24px 0px;
	clear:both;
	overflow: auto;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #0A0038;
}
.row{
	margin: 24px 15px;
	clear:both;
	overflow: auto;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #0A0038;
}
.columnright{
	width:168.8px;
	margin:0px 15px;
	padding:24px 0px 0px 0px;
	float: right;
	text-align: right;
}
h1{
	font-family: lust-script;
	color:#394040;
	text-align: center;
}
h2{
	font-family: kepler-std-extended;
	font-weight: normal;
	font-size:18px;
}
