body{
	margin:0px;
	padding:0px;
	background-color: #FAFAFA;
}

h1{
	font-weight: normal;
	font-family: lust-script;
	color: #566161;
}

h2{
	font-family: kepler-std-extended;
	font-weight: normal;
	font-size: 15px;
	text-align:center;
}

#wrapper{
	background-color: #FAFAFA;
	width:1024px;
	overflow: auto;
	margin:30px auto;
}

#header{
	text-align: center;
	overflow:auto;
}

#nav{
	clear:both;
	border:1px solid black;
	border-width: 1px 0px;
	overflow:auto;
	margin:15px 0px 15px 0px;
}

.row{
	clear:both;
	overflow: auto;
	padding:0px;
	margin:30px 0px;
}

.column{
	width:168.8px;
	float:left;
	margin:0px 15px;
}

img.square{
	width:168.8px;
	height:169.8px;
}

